<div ng-include="'partials/navbar'"></div>

<form role="form">
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Phone</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<textarea id="" name="message" class="form-control" ></textarea>
	</div>
	<a ng-click="submit()" class="btn btn-primary">Submit</a>
</form>
