<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
	<h2><i class="fa fa-code"></i> Developer</h1>
  <p class="lead">
  <a href="/skills">Mysql, Angular, Express, Node<br>/ LAMP stack + Angular<br>/ Vim, Bash, Linux (ubuntu)<br>/ Economics: BCom (econ)</a>
  </p>
</div>

<div class="row marketing">
	<div>
		<h4>About me:</h4>
		<p>I'm an Australian developer/Sysadmin presently based on the Gold Coast. I work both as a contractor and as an in-house developer.</p>
		<p>My experience is largely in web-development, business processes and developing, deploying and managing ERP. I have worked for manufacturing, construction and IT.</p>
	</div>
</div>

<div class="footer">
  <p></p>
</div>
