<div class="container">
	<h3 id="php">PHP</h3>
	<p>My introduction to web-programming was founded on PHP. While certainly not my favorite language, it is so universally used I still find myself writing a fair bit, particularly for legacy systems.</p>
	<div class="row">
		<div class="alert-message alert-message-default">
			<h4>Codeigniter</h4>
			<p>Simplicity, stability, reliability. This sits with my legacy LAMP stack and is rock-solid</p>
			<ul>
				<li>Active record pattern and drivers for database loose-coupling</li>
				<li>A reasonably secure basis for handing tasks where security is something of a concern, such as user login and password hashing</li>
				<li>Integrates well with existing infrastructure, using the database as the common level of communication</li>
			</ul>
		</div>
		<a href="https://github.com/DesertLynx/blank_CI.git" class="btn btn-primary"><i class="fa fa-github-square"></i> Example Repo</a>
	</div>
</div>

