<style>
	ul.nav li {
		margin-left:5px;
	}
</style>
<div ng-include="'/partials/navbar'"></div>
<div data-spy="scroll" data-target="#affix-nav" class="container"><!--{{{-->
	<div class="">
		<!--{{{ Menu-->
		<nav class="sidebar col-md-4">
			<ul class="nav sidenav collapse navbar-collapse navbar-static-top" data-offset-top="10">
				<li><a ng-click="linkTo('languages')" href="/skills#Languages">Languages</a>
					<ul class="nav">
						<li><a href="/skills#js" ng-click="linkTo('js')">JS/Angular/Node</a></li>
						<li><a href="/skills#php" ng-click="linkTo('php')">PHP</a></li>
						<li><a href="/skills#linux" ng-click="linkTo('linux')">linux and sysadmin</a></li>
						<li><a href="/skills#db" ng-click="linkTo('db')">Database and design</a></li>
						<li><a href="/skills#java" ng-click="linkTo('java')">Java</a></li>
					</ul>
				</li>
				<li><a href="https://drive.google.com/file/d/0B03YwHYkgdLjRnREcTlwaVhCUjA/edit?usp=sharing">CV</a></li>
			</ul>
		</nav>
		<!--}}}-->
	</div>
	<div class="row col-md-8">
		<div class="" id="skillsContent">
			<div id="languages">
				<div class="alert-message alert-message-default">
					<h4>Code examples: </h4>
					<p>Rather than claiming competency, I would prefer to be judged on actual examples. However the vast majority of work I do is the property of the respecive client 
					and it is not for me to use it to show off my experience. Consequently, I have compiled a set of examples - some contrived - to serve instead</p>
				</div>
				<div id="js" ng-include="'/partials/js'" ></div>
				<div id="php" ng-include="'/partials/php'" ></div>
				<div id="linux" ng-include="'/partials/linux'"></div>
				<div id="db" ng-include="'/partials/db'"></div>
				<div id="db" ng-include="'/partials/java'"></div>
			</div>
		</div>
	</div>
</div><!--}}}-->
