<style>
	.darkCell {
		background:#CCC;
	}

	.border {
		border: solid 1px #666;
	}

	.cCell {
		width:15px; 
		height: 15px;
	}
	.cSmall {
		width:5px;
		height:5px;
	}
</style>
<div ng-controller="CaCtrl" id="ca">
	<h5><strong>Example - Cellular Automata</strong></h5>
	<p>A demonstration of AngularJS to perform some simple programmatic manipulation. (Naturally, these kinds of DOM manipulation are hugely inefficient; this is purely a programmatic demonstration of <a href="http://en.wikipedia.org/wiki/Cellular_automaton">
	Wolfram's Automata</a>.</p>

	<div class="row">
		<form class="form-inline" role="form">
			<div class="form-group">
				<input style="width:100px" ng-model="rows" class="form-control col-xs-1" placeholder="Rows">
			</div>
			<div class="form-group">
				<input style="width:100px" ng-model="columns" class="form-control col-xs-1" placeholder="Columns">
			</div>
			<a class="btn btn-primary" ng-click="iterate()">Generate</a>
		</form>
	</div>
	<div class="row" style="padding-top:20px">
		<!-- control row {{{ --> 
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('111')">
				<table>
					<tr>
						<td class="border cCell darkCell"></td>
						<td class="border cCell darkCell"></td>
						<td class="border cCell darkCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['111']}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('110')">
				<table>
					<tr>
						<td class="border cCell darkCell"></td>
						<td class="border cCell darkCell"></td>
						<td class="border cCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['110']}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('101')">
				<table>
					<tr>
						<td class="border cCell darkCell"></td>
						<td class="border cCell"></td>
						<td class="border cCell darkCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['101'] == 1}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('100')">
				<table>
					<tr>
						<td class="border cCell darkCell"></td>
						<td class="border cCell"></td>
						<td class="border cCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['100'] == 1}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('011')">
				<table>
					<tr>
						<td class="border cCell"></td>
						<td class="border cCell darkCell"></td>
						<td class="border cCell darkCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['011'] == 1}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('010')">
				<table>
					<tr>
						<td class="border cCell"></td>
						<td class="border cCell darkCell"></td>
						<td class="border cCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['010'] == 1}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('001')">
				<table>
					<tr>
						<td class="border cCell"></td>
						<td class="border cCell"></td>
						<td class="border cCell darkCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['001'] == 1}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<div class="pull-left" style="margin-right:10px">
			<a ng-click="toggleRule('000')">
				<table>
					<tr>
						<td class="border cCell"></td>
						<td class="border cCell"></td>
						<td class="border cCell"></td>
					</tr>
					<tr>
						<td class="cCell"></td>
						<td ng-class="{darkCell: rules['000'] == 1}" class="border cCell"></td>
						<td class="cCell"></td>
					</tr>
				</table>
			</a>
		</div>
		<!-- }}} --> 
	</div>
	<div class="row" style="padding-top:20px">
		<table style="width:100%">
			<tr ng-repeat="r in ca">
				<td class="cSmall" ng-repeat="c in r" ng-class="{darkCell: c.value}"></td>
			</tr>
		</table>
	</div>
</div>
