<div class="container">
	<h3 id="db">Database, Design and architecture</h3>
	<div class="row" id="architecture">
		<div class="alert-message alert-message-default">
			<h4>Design &amp; architecture</h4>
			<ul>
				<li>Working with a team to understand the high-level business processes and translating them</li>
				<li>creating ERDs and database Schema</li>
				<li>Maintaining legacy systems and modernizing and extending them as required</li>
				<li>Creating mockups, sketches and quoting work</li>
			</ul>
		</div>
		<a target="_blank" class="btn btn-primary" href="https://www.lucidchart.com/documents/view/4fc8-b138-529530c7-813c-1d900a009219"><i class="fa fa-sitemap"></i> ERDs</a>
	</div>
	<div class="row" id="Mysql">
		<div class="alert-message alert-message-default">
			<h4>MySQL</h4>
			<p>Usually the boring but ultra-critical spine of a companies business processes.</p>
		</div>
		<a href="https://gist.github.com/DesertLynx/3ee5209c1b4daa4bc60e" class="btn btn-primary"><i class="fa fa-github-square"></i> Example Schema</a>
	</div>
</div>

