<div class="container">
	<h3 id="Java">Java</h3>
	<div class="row" id="angular">
		<div class="alert-message alert-message-default">
			<h4>Academia</h4>
			<p>My experience with Java has only been in an academic setting. It's not my strongest point, but I am familiar with:</p>
			<ul>
				<li>Java's Polymorphism and system of inheritance</li>
				<li>Interfaces and their use in the type system</li>
				<li>Reflection</li>
				<li>Threading and concurrency</li>
			</ul>
		</div>
		<a href="https://github.com/DesertLynx/HuffmanTree" class="btn btn-primary">Multi-threaded Huffman compression</a>
		<a href="https://github.com/DesertLynx/ASSE.git" class="btn btn-primary">Research Project</a>
	</div>
</div>

