<div class="container">
	<h3>Javascript</h3>
	<div class="row" id="angular">
		<div class="alert-message alert-message-default">
			<h4>AngularJS</h4>
			<p>My favorite thing to come to client-side since JQuery. I've only started to use it, but already I'm writing much more stable, cleaner client-side apps faster.</p>
			<div id="js" ng-include="'/partials/skills/ca'" autoscroll></div>
			<a href="" class="btn btn-primary"><i class="fa fa-github-square"></i> Example Repo</a>
		</div>
		<div class="alert-message alert-message-default">
			<h4>NodeJS</h4>
			<p>For server-side code experimentally, for writing and for scripting. I've created this website using it.</p>
			<ul>
				<li>Express for server-side apache-replacement.</li>
				<li>Markdown and its derivatives for technical writing</li>
				<li>PhantomJS for server-side browser work</li>
				<li>Yeoman for scaffolding</li>
				<li>Grunt for tasks</li>
				<li>Bower for client-side dependency management</li>
				<li>NPM for obvious reasons</li>
			</ul>
		</div>
		<a class="btn btn-primary"><i class="fa fa-github-square"></i> Example Repo</a>
	</div>
</div>

