<div class="container">
	<h3 id="linux">Linux, Bash/Zsh and the rest</h3>
	<div class="row" id="angular">
		<div class="alert-message alert-message-default">
			<h4>Ubuntu/Debian-based</h4>
			<p>For consistency, I stick to Ubuntu for development and operations</p>
			<ul>
				<li><strong>Bash</strong> scripting where needed</li>
				<li><strong>Make</strong> for legacy builds</li>
				<li><strong>Vim</strong> - naturally</li>
				<li><strong>Regex</strong> as required</li>
			</ul>
		</div>
		<a class="btn btn-primary"><i class="fa fa-github-square"></i> Example Repo</a>
	</div>
</div>

